
  body{
    background: #E5E5E5;
  }
.barra-topo{
    position: fixed;
    top: 0%;
    width: 100vw;
    height: 92px;
    background: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    
}
.barra-topo ion-icon{
    position: absolute;
    right: 70px;
    top: 25px;
    font-size: 30px;
    color: white;
}    
.barra-topo h3{
    position: absolute;
    top: 35px;
    right: 10px;
    font-family: Righteous; 
    color: white;
}
.barra-topo h1{
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    color: white;
    padding: 8px 21px;
}
.barra-topo p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: white;
    padding: 0 21px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.corpo{
   
    width: 414px;
    height: calc(100% - 93px);
    margin-top: 93px;
    margin-bottom: 99px;
    background: #E5E5E5;
}

.confirmacao{
    position: fixed;
    left: 20px;
    right: 20px;
    top: 200px;
    height: 353px;
    background: #50D074;
    border-radius: 9px;
    z-index: 2;
    
}
.confirmacao h1{
    margin-top: 21px;
    margin-bottom: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}
.confirmacao p{
    margin-left: 26px;
    margin-bottom: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
}
.confirmacao span{
    position: absolute;
    right: 25px;
   
}
.confirmacao h3{
    margin-left: 26px;
    margin-bottom: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
}
.confirmar{
    position: absolute;
    width: 329px;
    left: calc(50% - 329px/2);
    height: 52px;
    border-radius: 100px;
    background: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #50D074;
    border:none;
}
.cancelar{
    margin-top: 52px;
    background-color: #50D074;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: white;
    position: absolute;
    width: 329px;
    left: calc(50% - 329px/2);
    height: 52px;
    border:none;
}
.corpo h2{
    margin-top: 27px;
    margin-left: 19px;
    margin-bottom: 17px;
    font-family: Righteous;
    font-style: normal;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
    
}
.pratos{
    
    margin-left: 19px;
    display: flex;
    
    background: #E5E5E5;
    overflow-x: scroll;
}
.prato{
    width: 172px;
    height: 216px;
    margin-right: 16px;
    position: relative;
    display: block;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.imagem {
    width: 144px;
    height: 87px;
    padding: 0 14px;
    margin-top: 18px;
    border-radius: 4px;
}
.icon{
    position: absolute;
    right: 9.38%;
    bottom: 9.38%;
    height: 15,44px;
    width: 15,44px;
}
.fonte h3{
    position: absolute;
    left: 15px;
    top: 113px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.fonte p{
    position: absolute;
    left: 14px;
    top: 133px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    
    width: 144px;
    word-wrap: break-word;
    color: #A6A6A6;
    
}
.fonte h4{
    position: absolute;
    bottom: 13px;
    left: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
}
.fonte h5{
    position: absolute;
    bottom: 13px;
    left: 36px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
}
.bebidas{
    
    margin-left: 19px;
    display: flex;
    background: #E5E5E5;
    overflow-x: scroll;
    
}
.bebida{
    width: 172px;
    height: 202px;
    margin-right: 16px;
    position: relative;
    display: block;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.sobremesas{
    
    margin-left: 19px;
    display: flex;
    background: #E5E5E5;
    overflow-x: scroll;
    
}
.sobremesa{
    width: 172px;
    height: 197px;
    margin-right: 16px;
    position: relative;
    display: block;
    background: white;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.sobremesa-img{
    width: 144px;
    height: 82px;
    padding: 0 14px;
    margin-top: 19px;
    border-radius: 4px;
}
.barra-inferior{
    width: 100vw;
    height: 90px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #DBDBDB;
    background: white;
    z-index: 2;
}
.barra-inferior button{
    width: 364px;
    height: 61px;
    border-radius: 50px;
    background: #CBCBCB;
    text-align: center;
    border: none;
}
.barra-inferior p{
    font-family: Roboto;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}
.escondido{
    display: none;
}